.student-search-wrapper {
	width: 60vw;
	max-width: 75rem;
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--white);
	border-radius: 1rem;
	padding-left: 0.5rem;
}
.search-input {
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 1rem 0;
	border-color: var(--light-grey);
}
.tag-input {
	font-size: var(---font);
	padding: 10px 5px;
}

.student-list {
	width: 100%;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--white) transparent;
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--white);
		border-radius: 1rem;
	}
	&:hover {
		scrollbar-color: var(--black) transparent;
		&::-webkit-scrollbar-thumb {
			background-color: var(--black);
			border-radius: 1rem;
		}
	}
}
.student-item {
	display: grid;
	grid-template-columns: 2fr 6fr auto;
	border-bottom: 1px solid var(--light-grey);
	padding: 1rem 0;
	.image-wrapper {
		margin: 1rem;
		display: flex;
		img {
			align-self: flex-start;
			width: 100%;
			border: 1px solid var(--dark-primary);
			border-radius: 50%;
		}
	}
	.info-wrapper {
		padding-left: 1.5rem;
		h3 {
			margin: 0;
			text-transform: uppercase;
		}
		.student-info {
			padding: 1rem 1.5rem;
			color: var(--black);
			line-height: 1.5;
		}
	}
	.grades-wrapper {
		height: 0;
		overflow: hidden;
		padding-left: 1.5rem;
		transition: height 0.5s ease;

		.grades-list {
			background: none;
			line-height: 1.5;
		}
	}
	.tag-wrapper {
		padding-left: 1.5rem;
		.tag-list {
			display: flex;
			gap: 0.5rem;
			margin: 1rem 0;
			li {
				background: var(--light-grey);
				border-radius: 5px;
				padding: 0.5rem;
				span {
					margin-right: 1rem;
				}
				svg path {
					color: var(--md-grey);
					opacity: 0.3;
					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
	}
	.open {
		height: 100%;
	}
	.toggle-wrapper {
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		button {
			background: none;
			border: none;
			svg {
				width: 60%;
				color: var(--md-grey);
				path {
					color: var(--md-grey);
					opacity: 0.3;
					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
	}
}
