@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap");
html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--primary-font);
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: var(--primary-font);
  font-size: var(--xl-font);
  font-weight: var(--heavy-font);
  color: var(--black);
}

input:focus {
  outline: thin white;
  border-color: var(--dark-primary);
}

.student-search-wrapper {
  width: 60vw;
  max-width: 75rem;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 1rem;
  padding-left: 0.5rem;
}

.search-input {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem 0;
  border-color: var(--light-grey);
  font-family: var(--primary-font);
  font-size: var(--lg-font);
  font-weight: var(--light-font);
}

.student-list {
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--white) transparent;
}

.student-list::-webkit-scrollbar {
  width: 8px;
}

.student-list::-webkit-scrollbar-track {
  background-color: transparent;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.student-list::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 1rem;
}

.student-list:hover {
  scrollbar-color: var(--black) transparent;
}

.student-list:hover::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 1rem;
}

.student-item {
  display: grid;
  grid-template-columns: 2fr 6fr auto;
  border-bottom: 1px solid var(--light-grey);
  padding: 1rem 0;
}

.student-item .image-wrapper {
  margin: 1rem;
  display: flex;
}

.student-item .image-wrapper img {
  align-self: flex-start;
  width: 100%;
  border: 1px solid var(--dark-primary);
  border-radius: 50%;
}

.student-item .info-wrapper {
  padding: 0 1rem;
}

.student-item .info-wrapper h3 {
  margin: 0;
  text-transform: uppercase;
}

.student-item .info-wrapper .student-info {
  padding: 1rem 1.5rem;
  color: var(--black);
  line-height: 1.5;
}

.student-item .grades-wrapper {
  height: 0;
  overflow: hidden;
  padding-left: 1.5rem;
  transition: height .5s ease;
}

.student-item .grades-wrapper .grades-list {
  background: none;
  line-height: 1.5;
}

.student-item .grades-wrapper .grades-list:active {
  height: auto;
}

.student-item .open {
  height: 100%;
}

.student-item .toggle-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.student-item .toggle-wrapper button {
  background: none;
  border: none;
}

.student-item .toggle-wrapper button svg {
  width: 60%;
  color: var(--md-grey);
}

:root {
  --primary-font: 'Raleway', sans-serif;
  --light-font: 100;
  --regular-font: 400;
  --heavy-font: 700;
  --sm-font: .75rem;
  --reg-font: 1rem;
  --lg-font: 1.5rem;
  --xl-font: 2.5rem;
  --black: #000;
  --dark-primary: rgb(146, 146, 146);
  --md-grey: #ACACAC;
  --light-grey: #EFEFEF;
  --white: #FFF;
}
/*# sourceMappingURL=styles.css.map */