@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

//Settings
:root {
	--primary-font: 'Raleway', sans-serif;
	--primary-font-color: #991e1e;
}

//Tools

//Generic

//Elements
ul {
  list-style: none;
}

h3 {
	font-family: var(--primary-font);
	color: var(--primary-color);
}

//Objects

//Components

//Overides